    div.container.left{
        margin-left:0%;
    }


    img.img-thumbnail.img-responsive.prof_pic{
        float:left;
        margin-right:4%;
        width:50%;height:40%;
        max-height:300px;
        max-width:250px;
    }

    p.lead{
        text-align:justify
    }
    a.link{
        color:#212529;
    }

    div.card-deck.mx-auto.top{
        margin-top:5%;width:85%;
    }

    img.card-img.top{
        height:50%;
        width:100%;
    }

    a.btn.btn-dark.bottom{
        bottom:50%;
    }


    tr.border{
        background-color: #e9ecef;
    }
    th.border{
        background-color: #e9ecef;
    }
    td.result{
        background-color: #dff0d8
    }
    div.table-responsive{
        height:480px;
    }
    canvas.table{
        height:480px;
    }
