{% extends "base.html" %}
{% block title %}Bioinformatics{% endblock %}
{% block navbar_bioinfo%}active{% endblock %}

{% block content %}

<div class="card-deck mx-auto" style="margin-top:5%;width:80%">
  <div class="card" >
    <img class="card-img-top" src="static/images/edit_distance.gif" style="height:50%;width:100%;" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">The Levenshtein Distance Algorithm</h5>
        <p class="card-text">The Levenshtein distance is a string metric for measuring the difference between two sequences</p>
    </div>

    <div class="card-footer">

        <a href="{{url_for('bioinformatics.edit_distance')}}" class="btn btn-dark">Check online demo</a>
    </div>
  </div>

    <div class="card">
    <img class="card-img-top" src="static/images/longest_common_subsequence.png" style="height:50%;width:100%;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Longest Common Subsequence Algorithm</h5>
        <p class="card-text">The longest common subsequence (LCS) problem is the problem of finding the longest subsequence common to all sequences in a set of two sequences. </p>
      </div>
    <div class="card-footer">

        <a href="{{url_for('bioinformatics.edit_distance')}}" class="btn btn-dark">Check online demo</a>
    </div>
  </div>

    <div class="card">
    <img class="card-img-top" src="static/images/ned_wulsh.png" style="height:50%;width:100%;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Needleman–Wunsch algorithm </h5>
        <p class="card-text">The Needleman–Wunsch algorithm is an algorithm used in bioinformatics to align protein or nucleotide sequences. </p>
      </div>
    <div class="card-footer">

        <a href="{{url_for('bioinformatics.edit_distance')}}" class="btn btn-dark">Check online demo</a>
    </div>
  </div>



</div>

{% endblock %}
