{% extends "base.html" %}
{% block title %}Covid-19{% endblock %}
{% block navbar_covid%}active{% endblock %}
{% block chartjs %}
    <script src="static/ChartJs/moment.min.js"></script>
    <script src='static/ChartJs/Chart.min.js'></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container" style="margin-left:0%;">
    <h1 class="display-4">Covid-19 in Campania</h1>
    <hr class="my-4">
    <div class="table-responsive">
    <canvas id="myChart" style="height:480px;" class="table"></canvas>
    </div>
    <div class="table-responsive">
    <canvas id="myChartTests" style="height:480px;" class="table"></canvas>
    </div>
    <div class="table-responsive">
    <canvas id="myChartICU" style="height:480px;" class="table"></canvas>
    </div>


        <script>
     // Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;

// define the chart data
var chartData = {
  labels : [{% for item in olabels %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      label: 'Total Cases',
      type: 'line',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : [{% for item in total %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  }],
  }


// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'bar',
  data: chartData,
});


// define the chart data
var chartDataICU = {
  labels : [{% for item in olabels %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      label: 'Total ICU Occupancy',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : [{% for item in icu %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  }

  ]
}


// get chart canvas
var ctxICU = document.getElementById("myChartICU").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctxICU, {
  type: 'line',
  data: chartDataICU,
});


// define the chart data
var chartDataTests = {
  labels : [{% for item in olabels %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      label: 'Number of tests',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : [{% for item in tests %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  },{
      label: 'Daily new cases',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "#3e3e3e",
      borderColor: "#3e3e3e",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#3e3e3e",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "#3e3e3e",
      pointHoverBorderColor: "#3e3e3e",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : [{% for item in new %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  },

  ]
}


// get chart canvas
var ctx = document.getElementById("myChartTests").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'bar',
  data: chartDataTests,
});

 </script>

{% endblock %}