{% extends "base.html" %}
{% block meta_description%}<meta name="description" content="Collection of projects.">{% endblock %}
{% block title %}Projects{% endblock %}
{% block navbar_projects%}active{% endblock %}

{% block content %}


<div class="card-deck mx-auto top" >
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/protein.png') }}"  alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Classification methods on a PPI network</h5>
        <p class="card-text">The task was to perform multi-label vertex classification on a PPI network to predict labels of unseen proteins and generate a powerful embedding of the graph.</p>
    </div>

    <div class="card-footer">
        <a href="https://github.com/pierobartolo/oracle-ml-contest" class="btn btn-dark">
            <span class="fab fa-github mr-2"></span>Check it out on github
        </a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/Social.png') }}"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">An algorithm for monitoring relationships between entities</h5>
        <p class="card-text">The algorithm should be able to add new entities, delete entities, add relationships between two entities and delete existing relationships. </p>
      </div>
    <div class="card-footer">
        <a href="https://github.com/pierobartolo/Data-Structures-and-Algorithms-Project" class="btn btn-dark bottom" >
            <span class="fab fa-github mr-2"></span>Check it out on github
          </a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/chat.png') }}"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Python Group Chat</h5>
        <p class="card-text">A Python console chat application featuring group conversations.
        </div>
    <div class="card-footer">
        <a href="https://github.com/pierobartolo/COMP4621" class="btn btn-dark ">
            <span class="fab fa-github mr-2"></span>Check it out on github
          </a>    </div>
  </div>
</div>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/website.css') }}">

{% endblock %}
