{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block meta_description%}<meta name="description" content="A  Levenshtein Distance Demo.">{% endblock %}
{% block title %}Bioinformatics | Levenshtein Distance{% endblock %}
{% block navbar_bioinfo%}active{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container left">
        <h1 class="display-4">Levenshtein Distance</h1>
        <p class="lead">The Levenshtein distance is a string metric for measuring the difference between two sequences. Informally, the Levenshtein distance between two words is the minimum number of single-character edits (i.e. insertions, deletions, or substitutions) required to change one word into the other. </p>
        <hr class="my-4">

        <form method="post" action="" class="form-inline" novalidate>
             {{ wtf.form_field(form.string1, class='form-control',placeholder='A string') }}

             {{ wtf.form_field(form.string2, class='form-control',placeholder='Another string') }}

             {{ wtf.form_field(form.submit,class="btn btn-dark") }}
        </form>
    </div>
</div>


<div class="container left">
    <table class="table table-bordered mx-auto">
        <thead>
            <tr class="border">
              <th scope="col"> </th>
              <th scope="col">-</th>
              {% for char in session['string1']: %}
              <th scope="col"><b>{{char}}</b></th>
              {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for i in range(len(session['edit_dist_matrix'])) %}
            <tr>
                {% if i-1>=0 %}
                <th  class="border" scope="row">{{session['string2'][i-1]}}</th>
                {% else %}
                      <th class="border" scope="row">-</th>
                {% endif %}

                {% for j in range(len(session['edit_dist_matrix'][0])) %}
                  {% if i == len(session['edit_dist_matrix'])-1 and j == len(session['edit_dist_matrix'][0])-1  %}
                    <td class="result">{{session['edit_dist_matrix'][i][j]}}</td>
                  {% else %}
                    <td>{{session['edit_dist_matrix'][i][j] }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
      </tbody>
    </table>

</div>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/website.css') }}">

{% endblock %}

