{% extends "base.html" %}
{% block meta_description%}<meta name="description" content="Real time Rt for Campania">{% endblock %}
{% block title %}Covid-19 | Real time R_t{% endblock %}
{% block navbar_covid%}active{% endblock %}
{% block head %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
{% endblock %}

{% block content %}
<div class="jumbotron">
    <p class="container left">
        <h1 class="display-4">Estimating Covid-19's R_t in Campania </h1>
        <hr class="my-4">
        <p class="lead">
        In any epidemic, R_t is the measure known as the effective reproduction number.
        It's the number of people who become infected per infectious person at time t. The most well-known version of this number is the basic reproduction number: R_0
            when t=0. However, R_0 is a single measure that does not adapt with changes in behavior and restrictions.
        As a pandemic evolves, increasing restrictions (or potential releasing of restrictions) change $R_t$.
            Knowing the current R_t is essential. When R_t>=1, the pandemic will spread through the entire population.
            If R_t < 1, the pandemic will grow to some fixed number less than the population.
            The lower R_t, the more manageable the situation.
            The value of R_t helps us (1) understand how effective our measures have been controlling an outbreak and
            (2) gives us vital information about whether we should increase or reduce restrictions based on our competing goals of economic prosperity and human safety.
            <a  href="https://www.nytimes.com/2020/04/06/opinion/coronavirus-end-social-distancing.html">Well-respected epidemiologists</a> argue that tracking $R_t$ is the only way to manage through this crisis.
        </p>
        <hr class="my-4">
        <div class="table-responsive">
        <div id="graphdiv"></div>

            <script type="text/javascript" nonce="{{ csp_nonce() }}">
  g = new Dygraph(
    // containing div
    document.getElementById("graphdiv"),
    // CSV or path to a CSV file.
    {{ result }}
  );
</script>    </div>
    </div>


</div>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/website.css') }}">

{% endblock %}
