{% extends "base.html" %}
{% block meta_description%}<meta name="description" content="Covid-19 Campania Data.">{% endblock %}
{% block title %}Covid-19{% endblock %}
{% block navbar_covid%}active{% endblock %}
{% block head %}
    <script src="static/ChartJs/moment.min.js"></script>
    <script src='static/ChartJs/Chart.min.js'></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container left">
        <h1 class="display-4">Covid-19 in Campania</h1>
        <hr class="my-4">
        <div class="table-responsive">
        <canvas id="myChart" height=480  class="table"></canvas>
        </div>
    </div>

</div>
        <script nonce="{{ csp_nonce() }}">

     // Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;

// define the chart data
var chartData = {
  labels : [{% for item in olabels %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      label: 'Total Cases',
      type: 'line',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : [{% for item in total %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  }],
  }


// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

 </script>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/website.css') }}">

{% endblock %}
